<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find uav_simulator)/urdf/Avatar.urdf" />
  <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /> -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find uav_simulator)/config/show.rviz" />
</launch>
